body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;
    color: black;
}

header {
    font-size: 150;
    display: flex;
    justify-content: center;
}

menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;

}

#highscores {
    display: flex;
    justify-content: left;
}

#timer {
    display: flex;
    justify-content: right;
   
}

